.table {
  --bs-table-bg: unset;
}



body {
  margin: 0;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.button {
  font-size: larger;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  padding: 5px;
  cursor: pointer;
}

.roulette-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: +9;
  border-radius: 5rem;
  width: 5rem;
  height: 5rem;
  transform: translate(-55%, -55%);
  background: white;
  color: #000;
  font-size: 0.8rem;
  font-weight: bold;
}

.input {
  border: 1px solid #dcdcdc;
  margin-right: 10px;
  height: 2rem;
  border-radius: 5px;
  min-width: 200px;
  padding-left: 15px;
  flex: 1;
}

.img-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.img-content {
  position: relative;
  width: 80px;
  height: 45px;
  object-fit: cover;
  margin-right: 15px;
  position: relative;
}

.item {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.text-title {
  font-size: 1.25rem;
  color: #421a4c;
  margin-bottom: 2.5rem;
}

.result-item {
  display: flex;
  align-items: center;
}

.result-text {
  color: #5b627d;
  font-size: 1.25rem;
}

.result-image {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  margin-right: 25px;
  border-radius: 8px;
  display: block;
}

.hidden {
  display: none;
}

i,
svg {
  margin-right: 1rem;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.text-title {
  font-size: 1.25rem;
  color: #5b627d;
  padding-top: 15px;
  padding-bottom: 15px;
}

.prize-message {
  border: 1px solid #dcdcdc;
  padding: 2px 20px;
  max-width: 100px;
  max-height: 20px;
  border-radius: 0.5rem;
  color: #fff;
  max-width: 450px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 12px;
  background: #7eb62e;
  background: rgb(35, 155, 99);
  background: linear-gradient(
    0deg,
    rgba(35, 155, 99, 1) 0%,
    rgba(100, 176, 49, 1) 100%
  );
}

.roulette-container {
  position: relative;
  width: 100%;
  max-width: 550px;
  aspect-ratio: 1;
  margin: 0 auto;
}

.roulette-container > div {
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
}

.main-form {
  max-width: 600px;
  margin: 0;
}
.btn-bg-red {
  background: #bc0101 !important;
}
.color-white {
  color: #fff;
}
.btn-bg-black {
  background: #000000 !important;
}
.btn-bg-green {
  background: #157b50 !important;
}
.w-2rem {
  min-width: 2rem;
}
.h-1rem {
  height: 1rem;
}

.w-550 {
  width: 550px;
}

.roulletteTebale {
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  display: grid;
  height: 40vh;
  border: 0.5px solid wheat !important;
}
.span-1-12 {
  grid-column: 2 / span 12;
}
.span-2-4 {
  grid-column: 2 / span 4;
}
.span-3-4 {
  grid-column: 3 / span 4;
}
.span-row-3 {
  grid-row: 1 / span 3;
}
.align-self-center {
  align-self: center;
}
.grid-item {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  border: 0.5px solid wheat !important;
  cursor: pointer;
}

.h-150-important {
  height: 150px !important;
}
.w-h-webkit {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
